<div class="container my-5">
    <div class="container d-flex flex-column justify-content-center">
        <h2 class="fs-1 fw-bold text-center">Actividad 2</h2>
        <div class="row d-flex justify-content-center my-5">
            <div class="col-md-6 col-sm-12 col-xs-12 border border-primary p-5">
                <form class="" >
                    <div class="mb-3">
                      <label for="palabra" class="form-label">Valor</label>
                      <input type="number" class="form-control" id="moneda" name="moneda" [(ngModel)]="moneda" >
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example" name="selectipo" [(ngModel)]="tipoMoneda">
                            <option value="" disabled>selecciona el tipo de Moneda </option>
                            <option value="EUR">EUR</option>
                            <option value="USD">USD</option>
                            <option value="PEN">PEN</option>
                          </select>
                    </div>
                    <div class="container w-100" [ngSwitch]="tipoMoneda">
                        <div *ngSwitchCase="'EUR'" [ngClass]="'bg-success bg-opacity-50 py-2 text-dark fs-5'" ><p class="text-center fw-bold">Resultado:</p> <p class="text-center">{{moneda | currency:tipoMoneda }} </p></div>
                        <div *ngSwitchCase="'USD'" [ngClass]="'bg-primary bg-opacity-50 py-2 text-dark fs-5'"><p class="text-center fw-bold">Resultado:</p> <p class="text-center"> {{moneda | currency:tipoMoneda }} </p></div>
                        <div *ngSwitchCase="'PEN'" [ngClass]="'bg-info  bg-opacity-50 py-2 text-dark fs-5'"><p class="text-center fw-bold">Resultado:</p> <p class="text-center">  {{moneda | currency:tipoMoneda }} </p></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
