<div class="container my-5">
    <div class="container d-flex flex-column justify-content-center">
        <h2 class="fs-1 fw-bold text-center">{{titulo}}</h2>
        <h3 class="fs-3 fw-bold text-center">{{subtitulo}}</h3>
        <div class="row d-flex justify-content-center my-5">
            <div class="col-md-4 col-sm-4 col-xs-12 border border-primary p-5">
                <div class="container">
                    <pre>{{lista | json}} </pre>  
                </div>   
            </div>
        </div>
    </div>
</div>
