<div class="container my-5">
    <div class="container d-flex flex-column justify-content-center">
        <h2 class="fs-1 fw-bold text-center">{{titulo | uppercase}}</h2>
        <h3 class="fs-3fw-bold text-center">{{subtitulo}}</h3>
        <div class="row d-flex justify-content-center my-5">
            <div class="col-md-6 col-sm-12 col-xs-12 border border-primary p-5">
                <form class="" >
                    <div class="mb-3">
                      <label for="palabra" class="form-label">Palabra</label>
                      <input type="text" class="form-control" id="palabra" name="palabra" placeholder="Escribe una palabra" [(ngModel)]="palabra">
                    </div>
                    <div class="my-3 alert alert-primary">
                       <p>Resultado: <span>{{palabra | uppercase}}</span> </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
