<div class="container my-5">
    <div class="container d-flex flex-column justify-content-center">
        <h2 class="fs-1 fw-bold text-center">Actividad 3</h2>
        <div class="row d-flex justify-content-center my-5">
            <div class="col-md-6 col-sm-12 col-xs-12 border border-primary p-5">
                <form class="" >
                    <div class="mb-3">
                      <label for="palabra" class="form-label">json</label>
                      <input type="text" class="form-control" id="palabra" >
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">Agregar</button>
                     </div>
                </form>            
            </div>
        </div>
    </div>
</div>

