<div class="container my-5">
    <div class="container">
        <h1 class="text-center my-5" style="margin-top: 150px !important;">SESION 13 PIPES EN ANGULAR</h1>
        <div class="container d-flex flex-wrap justify-content-center">
            <a class="btn btn-dark py-3 px-5 rounded-5 m-3"  routerLink="/actividad1">Actividad 1</a>
            <a class="btn btn-dark py-3 px-5 rounded-5 m-3" routerLink="/actividad1">Actividad 1</a>
            <a class="btn btn-dark py-3 px-5 rounded-5 m-3" routerLink="/actividad1">Actividad 1</a>

        </div>
    </div>
</div>
