<div class="container my-5">
    <div class="container d-flex flex-column justify-content-center">
        <h2 class="fs-1 fw-bold text-center">Actividad 2</h2>
        <div class="row d-flex justify-content-center my-5">
            <div class="col-md-6 col-sm-12 col-xs-12 border border-primary p-5">
                <form class="" >
                    <div class="mb-3">
                      <label for="palabra" class="form-label">Valor</label>
                      <input type="text" class="form-control" id="palabra" >
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>selecciona el tipo de Moneda </option>
                            <option value="1">EUR</option>
                            <option value="2">USD</option>
                            <option value="3">PEN</option>
                          </select>
                    </div>
                    <div class="mb-3">
                       <p>Resultado: <span></span> </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
